@import url("https://fonts.googleapis.com/css?family=Cinzel");

body{
    background-color: purple;
}

.romanHeader{
    font-family: Cinzel!important;
    font-size: 200%;
}

.romanNavItems{
    font-family: Cinzel!important;
    font-size: 130%;
}

.romanCategory{
    font-family: Cinzel!important;
    font-size: 150%;
}

.romanText{
    font-family: Cinzel!important;
}
